.calendar-container {
  width: 100%;
  height: 100%;
  z-index: 1000;

  position: fixed;
  top: 100%;
  .mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}
.calendar-center {
  position: absolute;
  // height:0%;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
.calendar-top {
  display: flex;
  text-align: center;
  border-bottom: solid 1px #5495e5;
  .item {
    flex: 1;
    line-height: 80rpx;
    font-size: 28rpx;
    color: #5495e5;
    background: #fff;
    &.active {
      color: #fff;
      background: #5495e5;
    }
  }
  .item:first-child {
    border-right: solid 1px #5495e5;
  }
  .item:nth-child(2) {
    border-right: solid 1px #5495e5;
  }
}
.box {
  display: flex;
}
.week-wrap {
  width: 100%;
  display: flex;
  height: 74px;
  line-height: 74px;
  border-bottom: solid 1px #dddddd;
}
.week-wrap .week {
  flex: 1;
  color: #333;
  background-color: #f9f9f9;
  text-align: center;
}
.day-center {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}

.box-lr {
  flex-direction: row;
}

.box-rl {
  flex-direction: row-reverse;
}

.box-tb {
  flex-direction: column;
}

.box-pack-center {
  justify-content: center;
}

.box-align-center {
  align-items: center;
}

.box-wrap {
  flex-wrap: wrap;
}

.flex {
  flex-grow: 1;
}

.bg {
  background-image: linear-gradient(to bottom, #faefe7, #ffcbd7);
  overflow: hidden;
}

.white-color {
  color: #fff;
}

.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
}
.image-wrap {
  display: inline-block;
  width: 10px;
  height: 20px;
}
.image-pre {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAMAAACOLiwjAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB+UExURQAAAFSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5YiBFCsAAAApdFJOUwCGkI2Uq6kBAwadj4GMkYitBaWwiYR/jqy0BKKYn5wCp/P3l6PygPSTtdcYUAAAAHhJREFUGNNNz+kSgjAMRtGwSAEVFHBXwIUl7/+CfkyTDP117kwnaYnkpPEnULuc+a1umTkUP+Hcecfwq/Mu4EfqL23hShzBibiBN+IAvh5lwxlxy3T3DlVbnVAHq3IZcdfar4YTXVC9lgtRP6vlqbN97ss8kVU0jH8IPgw1xgsJRwAAAABJRU5ErkJggg==)
    no-repeat;
  background-size: 100% 100%;
}
.image-next {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAMAAACOLiwjAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB+UExURQAAAFSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5VSV5YiBFCsAAAApdFJOUwCGkJ2Uq6kBAwaNj4EEjK2wjpiJrKWIhH+ikbQFn5wCp/P3l6PygPSTL18b2gAAAHVJREFUGNNNz9kSgjAMhWFogRZEFhVBcGNT8/4v6GFIOu3V/10kkwbhFNlA3kikjUAR0VNkNHQSvR5QJLI3qHdqoIMssQmUOcXQWXS/QCEjHYCOu0Ln3CW63fu4jV+9xQX3G11zL2jFx/z8M79Es/vcZ81c/wEVPgw1akMJqgAAAABJRU5ErkJggg==)
    no-repeat;
  background-size: 100% 100%;
}

.date-area {
  width: 375px;
  height: 80px;
  text-align: center;
}

.grid {
  width: 105px;
  height: 105px;
}
.grid-month {
  width: 25%;
  height: 150px;
}

.day {
  width: 60px;
  height: 60px;
  font-size: 26px;
  font-weight: 200;
}

.normal-day-color {
  color: #000;
}

.day-choosed-color {
  color: #fff;
}

.todo-dot {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #cc5226;
}

.day-with-dot {
  height: 72px;
}

.disable-day-color {
  color: #cacaca;
}

.disable-day-circle {
  background-color: #f6f6f7;
}

.border-radius {
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
}

.pink-bg {
  background-color: #5495e5;
}

.purple-bg {
  background-color: #b8b8f1;
}

.right-triangle::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #ff629a;
  position: absolute;
  right: -22px;
  top: 18px;
}

.left-triangle::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #ff629a;
  position: absolute;
  left: -22px;
  top: 18px;
}

.tips {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.types {
  background-color: #ffedf4;
  height: 50px;
}

.types-desc {
  padding: 0 20px;
}

.type-name {
  margin-top: 50px;
  margin-bottom: 30px;
}

.type-desc {
  padding: 0 35px;
  line-height: 38px;
}

.explain {
  border-top: 1px solid #eee;
  width: 90%;
  margin: 20px 5% 20px 5%;
  padding: 20px 0;
}

.explain-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.explain-item {
  padding: 8px 20px;
  color: #fff;
}

.left-border-radius {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right-border-radius {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.show {
  top: 0%;
  animation: showAnt 1s;
}
@keyframes showAnt {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
.hide {
  top: 100%;
  animation: hideAnt 1s;
}
@keyframes hideAnt {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
