.choiceCar-wrap {
  .item {
    line-height: 80px;
    color: #666;
    font-size: 30px;
    font-size: 36px;
    .arrow-wrap {
      padding: 0 15px;
      display: inline-block;
      .image-arrow {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 16px;
      }
    }
    .check-wrap {
      padding: 0 20px;
      // display: inline-block;
      .check-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }
    }

    .father-name {
      line-height: 145px;
      background: #fff;
    }
    .child-name {
      padding-left: 80px;

      line-height: 135px;
      background: #f9f9f9;
      border-bottom: solid 1px #dddddd;
    }
  }
}
