/* ------------------------------------------------------------
   header样式
------------------------------------------------------------ */
.headerWrap {
  height: 65px;
  line-height: 65px;
  background-color: #1faa7c;
  .logoWrap {
    padding-left: 15px;
    height: 100%;
    background: rgba(31, 170, 124, 1);
  }
  .logo {
    display: inline-block;
    width: 218px;
    height: 30px;
    background: url("../../assets/index_common_logo_icon.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
  }
  .menu {
    height: 65px !important;
    line-height: 65px !important;
    border: none !important;
    background-color: #1faa7c;
    color: #fff;
    li {
      height: 100%;
      opacity: 0.65;
    }
    :global(.ant-menu-item-selected) {
      opacity: 1 !important;
      color: #fff !important;
      border-bottom: 2px solid #fff !important;
    }
  }
  .popWrap {
    text-align: center;
    color: #fff;
  }
  .popContent {
    background: #1faa7c;
  }
  .popItem {
    position: relative;
    .itemLine {
      position: absolute;
      width: 1px;
      top: 0;
      left: 0;
      height: 100%;
      background: #dcdfe1;
    }
    .itemUserName {
      font-size: 14px;
    }
    .itemIconWrap {
      padding-left: 10px;
      padding-right: 10px;
    }
    .itemUserIcon {
      display: inline-block;
      vertical-align: middle;
      width: 36px;
      height: 36px;

      background: url("../../assets/header_default_icon.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
/* ------------------------------------------------------------
   重写popover样式
------------------------------------------------------------ */
.popFooter {
  position: relative;
  width: 100%;
  text-align: center;
  .footer-name {
    padding-left: 5px;
  }
  .line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 20px;
    background: #fff;
    width: 1px;
    margin: auto;
  }
}
.ant-popover-arrow,
.ant-popover-inner {
  background: #17b990 !important;
}
.ant-popover-inner-content {
  color: #fff !important;
  width: 235px;
}
